{% extends "bootstrap/base.html"  %}
{# 集成Bootstrap原生Base.html骨架，再他的基础上进行添加内容。#}
{% block title %}Flask{% endblock %}
 
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">主页</a>
        </div>
        <div class="navbar-collapse collapse" >
            <ul class="nav navbar-nav">
                <li><a href="https://flask.net.cn/" target="_blank">Flask手册</a></li>
                <li><a href="http://docs.jinkan.org/docs/jinja2/" target="_blank">Jinja2手册</a></li>
                <li><a href="https://v3.bootcss.com/css/" target="_blank">Bootstrap全局css</a></li>
                <li><a href="https://image.baidu.com/" target="_blank">百度图片</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% block page_content %}{% endblock %}
</div>
{% endblock %}